{
	email {$ACME_EMAIL}
	servers {
		import cloudflare.caddy
		trusted_proxies_strict
		client_ip_headers CF-Connecting-IP
	}
}

{$RELAY_DOMAIN} {
	request_body {
		max_size 24MB
	}
	reverse_proxy relay:3134 {
		header_up X-Real-IP {client_ip}
		transport http {
			response_header_timeout 120s
		}
	}
}
